@font-face {
  font-family: "Ondo";
  src: url(../fonts/Ondo.ttf);
  font-weight: 800;
  font-style: normal;
}

body {
  font-family: "Lato", sans-serif;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  background-color: #2D1E6B;
  z-index: 5;
}

h1 {
  font-family: "Ondo", sans-serif;
  color: #FFF;
  font-size: 68.937px;
  font-style: normal;
  font-weight: 800;
  line-height: 110.6%;
  letter-spacing: 2.757px;
  text-transform: uppercase;
}

/* Применяем стили к скроллбару */
::-webkit-scrollbar {
  width: 10px; /* Ширина скроллбара */
}

/* Применяем цвет фона скроллбара */
::-webkit-scrollbar-track {
  background-color: transparent; /* Прозрачный фон */
}

/* Применяем стили к ползунку скроллбара */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3); /* Прозрачный цвет ползунка */
  border-radius: 5px; /* Закругляем углы ползунка */
}


.wrapper {
  width: 100%;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  --bs-gutter-x: 0;
}

.ellipses {
  position: relative;
  z-index: -1;
}

.ellipse_1 {
  position: absolute;
  top: 85px;
  width: 341px;
  height: 341px;
  border-radius: 341px;
  background: #DD00B8;
  filter: blur(292px);
}

.ellipse_2 {
  position: absolute;
  top: 1126px;
  width: 521px;
  height: 521px;
  border-radius: 521px;
  background: #DD00B8;
  filter: blur(446.1348876953125px);
}

/* .ellipse_3 {
  position: absolute;
  top: 2000px;
  left: 65%;
  width: 521px;
  height: 521px;
  border-radius: 521px;
  background: #DD00B8;
  filter: blur(446.1348876953125px);
} */

.bg {
  position: relative; 
  overflow: visible;
}

.header__bg-img {
  position: absolute;
  right: 0;
  top: 0;
  mix-blend-mode: color-dodge;
  z-index: -1;
}

.header__wrapper {
  padding: 53px 0 125px;
}

.navbar {
  display: flex;
  align-items: center;

}

.navbar-brand {
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  margin: 0;
  transition: all 1s ease-in-out;
}

.navbar-brand:focus, .navbar-brand:hover {
  color: #FFF;
  transform: scale(1.1);
}

.nav-bar__logo-text {
  font-family: "Ondo";
  font-size: 31px;
  font-weight: 800;
}

.nav-link {
  color: #FFF;
}

.navbar-nav{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  text-transform: uppercase;
  --bs-nav-link-color: #FFF;
  --bs-nav-link-hover-color: #FFF;
  --bs-nav-link-disabled-color: #FFF;
}

.navbar-collapse {
  gap: 213px;
  flex-grow: 0;
}

.navbar-nav .nav-link.active{
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 110.6%;
  letter-spacing: 0.72px;
  text-transform: uppercase;
}

.nav-link {
  transition: all 1s ease-in-out;
}

.nav-link:focus, .nav-link:hover {
  transform: scale(1.1);  
}

.btn-outline-primary {
  --bs-btn-hover-bg: transparent;
  border: none;
  transition: all 1s ease-in-out;
}

.btn-outline-primary:focus, .btn-outline-primary:hover {
  transform: scale(1.1);  
}

.basic__title {
  max-width: 578px;
  padding-bottom: 10px;
}

.transparent_text {
  background: url(../assets/basic_explore.png) center;
  -webkit-background-clip: text; /* Веб-браузеры, использующие WebKit */
  background-clip: text; /* Обрезаем фон по тексту */
  color: transparent;
}

.basic__text {
  max-width: 606px;
  font-size: 18.715px;
  font-weight: 400;
  line-height: 185.1%; /* 34.642px */
  letter-spacing: 0.749px;
  padding-bottom: 33px;
}

.basic__buttons {
  display: flex;
  padding-bottom: 66px;
}

.basic__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 26px 64px;
  font-family: Ondo;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 110.6%; /* 22.12px */
  letter-spacing: 0.8px;
  text-transform: uppercase;
  background: url(../assets/btn_bg-non-active.svg) center no-repeat;
  transition: background 1s;
}

.top-games__header-btn {
  width: 180px;
  padding: 26px 41px;
}

.basic__btn:hover,
.basic__btn:focus {
  background: url(../assets/btn_bg.svg) center no-repeat;
}

.basic__statistics {
  display: flex;
  align-items: center;
  gap: 31px;
  padding-bottom: 46px;
}

.basic__cont-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.basic__stat {
  font-family: Ondo;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: 110.6%;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.basic__signature {
  font-family: Lato;
  font-size: 18.715px;
  line-height: 185.1%;  
  letter-spacing: 0.749px;
  text-transform: capitalize;
}

.basic__line {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 51px;
  border: 1px solid rgba(255, 255, 255, 0.20);
  box-shadow: 0px 4px 20px -1px rgba(0, 0, 0, 0.00);
  backdrop-filter: blur(25px);
  max-width: 100%;
}

.curved {
  transform: rotate(-1.983deg);
  max-width: 99.8%;
}

.basic__line-item {
  display: flex;
  align-items: center;
  gap: 18px;
  padding: 29px 0;
}

.basic__line-text {
  font-family: Ondo;
  font-size: 30px;
  font-weight: 800;
  line-height: 110.6%;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.favorite-games__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 115px 0 111px;
}

.favorite-games__textbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.favorite-games__title {
  max-width: 718px;
  text-align: center;
}

.favorite-games__text {
  max-width: 518px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 185.1%;
  letter-spacing: 0.64px;
}

.favorite-games__imgbox {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0 72px;
}

.center {
  position: relative;
}

.favorite-games__img-logo {
  position: absolute;
  top: 26px;
  left: 338px;
}

.favorite-games__img-text {
  position: absolute;
  top: 455px;
  left: 250px;
  font-family: Ondo;
  font-size: 28.056px;
  font-weight: 800;
  line-height: 110.6%; /* 31.03px */
  letter-spacing: 1.122px;
  text-transform: uppercase;
}

.virtual-reality__wrapper {
  display: flex;
  flex-direction: row-reverse;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.20);
  background: url(../assets/virtual-reality_bg.png) center no-repeat;
  box-shadow: 0px 4px 20px -1px rgba(0, 0, 0, 0.00);
  backdrop-filter: blur(25px);
}

.virtual-reality__imgbox {
  position: relative;
}

.virtual-reality__img {
  position: absolute;
  bottom: 0;
  right: -2px;
}

.virtual-reality__contentbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 35px;
  padding: 65px 0 82px;
}

.virtual-reality__textbox {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.virtual-reality__title {
  max-width: 532px;
  font-family: Ondo;
  font-size: 48px;
  font-weight: 800;
  line-height: 116.6%; /* 55.968px */
  letter-spacing: -0.24px;
  text-transform: uppercase;
}

.virtual-reality__text {
  max-width: 463px;
  font-size: 16px;
  font-weight: 400;
  line-height: 185.1%; /* 29.616px */
  letter-spacing: 0.64px;
}

.virtual {
  padding: 86px 0 112px;
  border: none;
  gap: 100px;
}

.top-games__wrapper {
  display: flex;
  flex-direction: column;
  gap: 77px;
}

.line-games {
  padding-top: 108px;
  padding-bottom: 97px;
  border: none;
}

.top-games__title {
text-align: center;
font-family: Ondo;
font-size: 66px;
font-weight: 800;
line-height: 116.6%;
letter-spacing: 2.64px;
text-transform: uppercase;
max-width: 718px;
}

.top-games__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 38px;
}

.top-games__btnbox {
  display: flex;
}

.top-games__artworks-card {
  max-width: 397px;
  border-radius: 10px;
  background: url(../assets/artwork-cards_bg.png) center no-repeat;
  box-shadow: 0px 4px 20px -1px rgba(0, 0, 0, 0.00);
  backdrop-filter: blur(25px);
}

.top-games__artworks-card__wrapper {
  padding: 20px 18px 46px;
  display: grid;
  gap: 30px;
}

.top-games__artworks-textbox {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.top-games__user-infobox {
  display: flex;
  gap: 10px;
}

.top-games__user-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.top-games__artworks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 40px;
}

.top-games__artworks-title {
  font-family: Lato;
  font-size: 24px;
  font-weight: 500;
  line-height: 110.6%;
  letter-spacing: 0.84px;
  text-transform: capitalize;
}

.top-games__user-name {
  font-family: Lato;
  font-size: 18px;
  font-weight: 500;
  line-height: 110.6%;
  letter-spacing: 0.63px;
  text-transform: capitalize;
}

.top-games__user-status {
  font-family: Lato;
  font-size: 10px;
  font-weight: 500;
  line-height: 110.6%;
  letter-spacing: 0.35px;
  text-transform: capitalize;
}

.top-games__btn {
  padding: 15px 131px;
  font-family: Lato;
  font-size: 18px;
  font-weight: 800;
  line-height: 110.6%;
  text-transform: uppercase;
  background: url(../assets/artworks_btn-bg.png) center no-repeat;
  background-size: 97% 97%;
}

.btn-zoom {
  transition: transform 1s ease-in-out;
}

.btn-zoom:hover {
  transform: scale(1.05);
}

.feedback__wrapper {
  padding-bottom: 102.5px;
}

.carousel-indicators {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  position: inherit;
  z-index: 0;
  padding: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.carousel-indicators [data-bs-target] {
  height: 29px;
  width: 29px;
  background: #fff;
  clip-path: circle(8px at 50% 50%);
  cursor: pointer;
  opacity: 100%;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  transition: all 2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.carousel-indicators .active {
  height: 29px;
  width: 29px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  background: url(../assets/slider-active_dot.svg) center no-repeat;
  clip-path: circle(14px at 50% 50%);
  transition: all 2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.feedback-slider {
  display: flex;
  flex-direction: column;
  gap: 77.5px;
}

.feedback-slider__dot {
  
}

.carousel-item.active {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.carousel-item {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.feedback-card__wrapper {
  background: url(../assets/feedback_bg.png) center no-repeat;
  max-width: 524px;
  padding: 58px 36px 33px 47px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.feedback-card__textbox {
  border-image: url('../assets/feedback-card__border-img.png') 30 round;
  border-width: 0 0 1px 0;
  border-style: solid;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.feedback-card__text {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 185.1%;
  letter-spacing: 0.64px;
  padding-bottom: 29px;
}

.feedback-card__userbox {
  display: flex;
  justify-content: space-between;
}

.feedback-card__user-infobox {
  display: flex;
  align-items: center;
  gap: 12px;
}

.feedback-card__user-status {
  font-family: Lato;
  font-size: 11.649px;
  font-weight: 500;
  line-height: 110.6%;
  letter-spacing: 0.408px;
  text-transform: capitalize;
}

.feedback-card__user-verfy {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.footer__basic-line {
  position: relative;
}

.footer-line {
  position: absolute;
  top: 3px;
  width: 99.8%;
}

.footer__bg {
  position: relative;
}

.footer__bg-img {
  position: absolute;
  top: 73px;
  width: 100% ;
  mix-blend-mode: color-dodge;
  z-index: -1;
}

.footer__wrapper {
  padding-top: 225px;
}

.footer-main {
  display: flex;
  justify-content: flex-start;
  gap: 150px;
}

.footer-main__textbox {
  display: flex;
  flex-direction: column;
  gap: 33px;
  max-width: 315px;
}

.footer-main__text {     
  font-family: Lato;
  font-weight: 400;
  line-height: 185.1%;
  letter-spacing: 0.64px;
}

.footer-main__logo {
  display: flex;
  align-items: center;
  gap: 9px;
}

.footer-main__logo-text {
  font-family: Ondo;
  font-size: 39.778px;
  font-weight: 800;
  line-height: 110.6%;
  letter-spacing: 1.591px;
}

.footer-main__logo-img{
  width: 60px;
  height: 45px;
}

.footer-main__menu-box {
  display: flex; 
  gap: 50px;
}

.footer-main__menu-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 167px;
}

.footer-main__menu-title {
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 110.6%;
  letter-spacing: 0.72px;
  text-transform: uppercase;
}

.footer-main__menu-item {
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 110.6%;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.footer-sponsors {
  display: flex;
  align-items: center;  
  gap: 40px;
  padding: 28px 0 60px;
}

.footer-social {
  display: flex;
  align-items: center;
  gap: 29px;
}

.footer-social__networks {
  display: flex;
  gap: 12px;
}

.footer-social__copyright {
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 173.6%;
  letter-spacing: 0.91px;
}